<app-navbar></app-navbar>
<div *ngIf="product">
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" /></div>
                  </div>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.name}}</h3>
                    <p class="product-description">{{product.description}}</p>
                    <h4 class="price">Precio: <span>$ {{product.price}}</span></h4>
                    <div class="action">
                        <button class="btn bg-cart" type="button" (click)="addProducto(product)">Agregar al carrito</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
