<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand">Taller Web II</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a></li>
                <li *ngIf="!isitLogged" class="nav-item"><a class="nav-link" [routerLink]="['/login']">SignIn</a></li>
                <li *ngIf="!isitLogged" class="nav-item"><a class="nav-link" [routerLink]="['/signup']">SignUp</a></li>
                <div *ngIf="isitLogged">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/newProduct']">Crear Producto</a></li>
                </div>
                <div *ngIf="isitLogged">
                  <li class="nav-item"><a class="nav-link" (click)="logout()">Salir</a></li>
                </div>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-dark" type="submit" [routerLink]="['/cart']">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{carrito.length}}</span>
                </a>
            </form>

        </div>
    </div>
</nav>
