<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Registro usuario</h3>
                                <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                    <div class="form-label-group">
                                      <label for="inputUserame">Nombre</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Username"
                                        required
                                        formControlName="firstName"
                                        name="firstName"
                                        id="firstName"
                                      >
                                      <div
                                        class="error"
                                        *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                                        El nombre es requerido
                                      </div>
                                    </div>
                                    <div class="form-label-group">
                                      <label for="inputUserame">Apellido</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Username"
                                        required
                                        formControlName="lastName"
                                        name="lastName"
                                        id="lastName"
                                      >
                                      <div
                                        class="error"
                                        *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                                        El apellido es requerido
                                      </div>
                                    </div>
                                    <div class="form-label-group">
                                      <label for="inputUserame">Dirección</label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Username"
                                        required
                                        formControlName="address"
                                        name="address"
                                        id="address"
                                      >
                                      <div
                                        class="error"
                                        *ngIf="(f.address.touched || submitted) && f.address.errors?.required">
                                        La direccion es requerida
                                      </div>
                                    </div>
                                    <div class="form-label-group">
                                      <label for="inputEmail">Email</label>
                                      <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Email address"
                                        required
                                        formControlName="email"
                                        name="email"
                                        id="email"
                                      >
                                      <div
                                        class="error"
                                        *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                        El email es requerido
                                      </div>
                                      <div class="error"
                                          *ngIf="f.email.touched && f.email.errors?.email">
                                          Ingrese un email válido
                                      </div>
                                    </div>
                                    <div class="form-label-group">
                                      <label for="inputPassword">Contraseña</label>
                                      <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Password"
                                        required
                                        formControlName="password"
                                        name="password"
                                        id="password"
                                      >
                                      <div
                                        class="error"
                                        *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                                        La contraseña es requerida
                                      </div>
                                      <div
                                        class="error"
                                        *ngIf="f.password.touched && f.password.errors?.invalidPassword">
                                          La contraseña debe tener un mínimo de 8 caracteres, al menos una letra mayúscula, una minúscula y un número.
                                      </div>
                                    </div>
                                    <div class="form-label-group">
                                      <label for="inputConfirmPassword">Confirmar constraseña</label>
                                      <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Password"
                                        required
                                        formControlName="confirmPassword"
                                        name="confirmPassword"
                                        id="confirmPassword"
                                      >
                                      <div
                                        class="error"
                                        *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.required">
                                        Confirme la contraseña
                                      </div>
                                      <div
                                        class="error"
                                        *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                                        Las contraseña no coinciden
                                      </div>
                                    </div>
                                    <hr class="my-4">
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrarse</button>
                                    <a class="d-block text-center mt-2 small" [routerLink]="['/login']" routerLinkActive="router-link-active" >Ya tenes cuenta? Ingresá</a>
                                    <div class="error" *ngIf="error.show">{{error.message}}</div>
                                    <div style="color:green;" *ngIf="userOk.show">{{userOk.message}}</div>
                                  </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
