<app-navbar></app-navbar>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Taller Web II</h1>
            <p class="lead fw-normal text-white-50 mb-0">Trabajo Integrador | Angular - NodeJS</p>
        </div>
    </div>
</header>
<!--Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="mb-4">Crear Producto</h3>
                        <form class="form-signin" [formGroup]="productForm" (ngSubmit)="newProduct()">
                            <div class="form-label-group">
                                <label for="inputName">Nombre</label>
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Nombre del Producto"
                                required
                                formControlName="name"
                                name="name"
                                id="name"
                                >
                                <div
                                class="error"
                                *ngIf="(f.name.touched || submitted) && f.name.errors?.required">
                                <p id="warning">El nombre es requerido</p>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <label for="inputName">Descripcion</label>
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Descripción del producto"
                                required
                                formControlName="description"
                                name="description"
                                id="description"
                                >
                                <div
                                class="error"
                                *ngIf="(f.description.touched || submitted) && f.description.errors?.required">
                                <p id="warning">La descripcion es requerida</p>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <label for="inputClassification">Categoría</label>
                                <input
                                type="clasification"
                                class="form-control"
                                placeholder="Categoría del producto"
                                required
                                formControlName="classification"
                                name="classification"
                                id="classification"
                                >
                                <div
                                class="error"
                                *ngIf="(f.classification.touched || submitted) && f.classification.errors?.required">
                                <p id="warning">La Categoría es requerida</p>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <label for="inputPrice">Precio</label>
                                <input
                                type="number"
                                class="form-control"
                                placeholder="Precio"
                                required
                                formControlName="price"
                                name="price"
                                id="price"
                                >
                                <div
                                class="error"
                                *ngIf="(f.price.touched || submitted) && f.price.errors?.required">
                                <p id="warning">El precio es requerido</p>
                                </div>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Crear</button>
                            <div class="error" *ngIf="error.show">{{error.message}}</div>
                            <p id="good" *ngIf="productOk.show">{{productOk.message}}</p>
                        </form>
                    </div>
                </div>
            </div>

    </div>
</section>
<app-footer></app-footer>
