<div class="container-fluid">
  <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
              <div class="login d-flex align-items-center py-5">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-9 col-lg-8 mx-auto">
                              <h3 class="login-heading mb-4">Login</h3>
                                  <div class="form-label-group">
                                      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="user.email">
                                      <label for="inputEmail">Email</label>
                                  </div>

                                  <div class="form-label-group">
                                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="user.password">
                                      <label for="inputPassword">Contraseña</label>
                                  </div>

                                  <div class="custom-control custom-checkbox mb-3">
                                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                                      <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                                  </div>
                                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" (click)="login()">Ingresar</button>
                                  <span *ngIf="error.show">{{error.message}}</span>
                                  <div class="text-center">
                                      <a class="small" [routerLink]="['/']">Volver a la pantalla principal</a>
                                  </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
