/* .cart {
    background-color: #fff;
    width:300px;
    position: absolute;
    right: 0;
    height: 979px;
    top: 0;
    padding: 1em;
    
  box-shadow: -6px 0px 11px 11px rgba(0,0,0,0.32);
  -webkit-box-shadow: -6px 0px 11px 11px rgba(0,0,0,0.32);
  -moz-box-shadow: -6px 0px 11px 11px rgba(0,0,0,0.32);
} */

