<app-navbar></app-navbar>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Taller Web II</h1>
            <p class="lead fw-normal text-white-50 mb-0">Trabajo Integrador | Angular - NodeJS</p>
        </div>
    </div>
</header>
<!--Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let product of products">
            <div class="col mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true" [routerLink]="['/detail/', product.id]">{{product.name}}</a> </h6> <a class="text-muted" data-abc="true">Descripción</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">$ {{product.price}}</h3>
												<br>
                        <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                        <button type="button" class="btn bg-cart" (click)="addProducto(product)"><i class="fa fa-cart-plus mr-2"></i> Agregar al carrito</button>
                    </div>
                </div>
            </div>
          </div>
          <div *ngIf="!products?.length">
            <p>No hay productos! Cree uno!</p>
          </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
