<app-navbar></app-navbar>
<div class="container-fluid mt-100" *ngIf="checkoutOk">
  <div class="row">
      <div class="col-md-12">
          <div class="card" style="height: 200px">
              <div class="card-body cart" style="margin-top:50px">
                  <div class="col-sm-12 empty-cart-cls text-center">
                      <h3><strong>¡Muchas gracias por su compra!</strong></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid mt-100" *ngIf="cartEmpty">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                      <h3><strong>Tu carrito esta vacío</strong></h3>
                      <h4>Agrega algún producto</h4> <a href="#" class="btn btn-primary cart-btn-transform m-3" [routerLink]="['/']">Continuar Comprando</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="shopping-cart dark" *ngIf="!cartEmpty && !checkoutOk">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="items">
          <div class="product" *ngFor="let product of carrito">
            <div class="row">
              <div class="col-md-3">
                <img class="img-fluid mx-auto d-block image" src="assets/img/image.jpg">
              </div>
              <div class="col-md-8">
                <div class="info">
                  <div class="row">
                    <div class="col-md-5 product-name">
                      <div class="product-name">
                        <a href="#">{{product.name}}</a>
                        <div class="product-info">
                          <div>{{product.description}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 price">
                      <span>$ {{product.price}}</span>
                    </div>
                    <div class="col-md-3 delete">
                      <button class="btn btn-primary" (click)="deleteProduct(product.id)">x</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="summary">
          <h3>Resumen</h3>
          <div class="summary-item"><span class="text">Total</span><span class="price">$ {{total}}</span></div>
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="checkout()">Terminar compra</button>
          <button type="button" class="btn btn-secondary btn-lg btn-block" [routerLink]="['/']">Seguir comprando</button>
        </div>
      </div>
    </div> 
  </div>  
</section>
