<app-navbar></app-navbar>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bienvenido a nuestra plataforma!</h1>
            <p class="lead fw-normal text-white-50 mb-0">{{message}}</p>
        </div>
    </div>
</header>
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <p class="lead fw-normal text-black-50 mb-0">Puedes <a [routerLink]="['/login']">ingresar</a> con tu usuario y operar con normalidad, ante cualquier
                incidente, comunicate con nosotros para reportarlo.
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>
